Program designed to import cars dataset downloaded from Kaggle and prepare it for implementation in Deep Learning algorithm.

Import pandas and sklearn LabelEncoder

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Import the dataset

In [2]:
cars = pd.read_csv('cars.csv')

Get headers for convenience

In [3]:
headers = list(cars.columns)

Test print dataset

In [4]:
print(cars)

      manufacturer_name  model_name transmission   color  odometer_value  \
0                Subaru     Outback    automatic  silver          190000
1                Subaru     Outback    automatic    blue          290000
2                Subaru    Forester    automatic     red          402000
3                Subaru     Impreza   mechanical    blue           10000
4                Subaru      Legacy    automatic   black          280000
...                 ...         ...          ...     ...             ...
38526          Chrysler         300    automatic  silver          290000
38527          Chrysler  PT Cruiser   mechanical    blue          321000
38528          Chrysler         300    automatic    blue          777957
38529          Chrysler  PT Cruiser   mechanical   black           20000
38530          Chrysler     Voyager    automatic  silver          297729

       year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  \
0               2010    gasoline           False    gasoline              2.5
1               2002    gasoline           False    gasoline              3.0
2               2001    gasoline           False    gasoline              2.5
3               1999    gasoline           False    gasoline              3.0
4               2001    gasoline           False    gasoline              2.5
...              ...         ...             ...         ...              ...
38526           2000    gasoline           False    gasoline              3.5
38527           2004      diesel           False      diesel              2.2
38528           2000    gasoline           False    gasoline              3.5
38529           2001    gasoline           False    gasoline              2.0
38530           2000    gasoline           False    gasoline              2.4

       ... feature_1  feature_2 feature_3 feature_4  feature_5  feature_6  \
0      ...      True       True      True     False       True      False
1      ...      True      False     False      True       True      False
2      ...      True      False     False     False      False      False
3      ...     False      False     False     False      False      False
4      ...      True      False      True      True      False      False
...    ...       ...        ...       ...       ...        ...        ...
38526  ...      True      False     False      True       True      False
38527  ...      True      False     False      True       True      False
38528  ...      True      False     False      True       True      False
38529  ...      True      False     False     False      False      False
38530  ...     False      False     False     False      False      False

      feature_7  feature_8  feature_9  duration_listed
0          True       True       True               16
1         False      False       True               83
2         False       True       True              151
3         False      False      False               86
4         False      False       True                7
...         ...        ...        ...              ...
38526     False       True       True              301
38527     False       True       True              317
38528     False       True       True              369
38529     False      False       True              490
38530     False      False       True              632

[38531 rows x 30 columns]

For each column, the columns 4, 5, 9, 14, 17, 18, and 29 have numerical values, so skip those, all other columns are categorical, so assign a number to the categorical data

In [5]:
number = LabelEncoder()

for i, heading in enumerate(list(cars.columns)):
  if i == 4 or i == 5 or i == 9 or i == 14 or i == 17 or i == 18 or i == 29:
    continue
  else:
    cars[heading] = number.fit_transform(
      cars[heading].astype('str'))

Print preprocessed dataset

In [6]:
print(cars)

       manufacturer_name  model_name  transmission  color  odometer_value  \
0                     45         764             0      8          190000
1                     45         764             0      1          290000
2                     45         519             0      7          402000
3                     45         609             1      1           10000
4                     45         665             0      0          280000
...                  ...         ...           ...    ...             ...
38526                  8          86             0      8          290000
38527                  8         766             1      1          321000
38528                  8          86             0      1          777957
38529                  8         766             1      0           20000
38530                  8        1058             0      8          297729

       year_produced  engine_fuel  engine_has_gas  engine_type  \
0               2010            3               0            2
1               2002            3               0            2
2               2001            3               0            2
3               1999            3               0            2
4               2001            3               0            2
...              ...          ...             ...          ...
38526           2000            3               0            2
38527           2004            0               0            0
38528           2000            3               0            2
38529           2001            3               0            2
38530           2000            3               0            2

       engine_capacity  ...  feature_1  feature_2  feature_3  feature_4  \
0                  2.5  ...          1          1          1          0
1                  3.0  ...          1          0          0          1
2                  2.5  ...          1          0          0          0
3                  3.0  ...          0          0          0          0
4                  2.5  ...          1          0          1          1
...                ...  ...        ...        ...        ...        ...
38526              3.5  ...          1          0          0          1
38527              2.2  ...          1          0          0          1
38528              3.5  ...          1          0          0          1
38529              2.0  ...          1          0          0          0
38530              2.4  ...          0          0          0          0

       feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0              1          0          1          1          1               16
1              1          0          0          0          1               83
2              0          0          0          1          1              151
3              0          0          0          0          0               86
4              0          0          0          0          1                7
...          ...        ...        ...        ...        ...              ...
38526          1          0          0          1          1              301
38527          1          0          0          1          1              317
38528          1          0          0          1          1              369
38529          0          0          0          0          1              490
38530          0          0          0          0          1              632

[38531 rows x 30 columns]